<!--Footer-->

<div class="footer">
    <footer class="container">
      <div class="row mb-4">
        <div class="logo col-md-3 p-3 d-flex justify-content-center">
          <h2>
            <svg width="1103" height="996" viewBox="0 0 1103 996" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M410.988 255.56L0 995.337H189.802L505.141 427.427L410.988 255.56ZM1102.94 995.337L647.119 170.373L551.471 0L457.317 170.373L551.471 340.746L711.79 629.718H498.683L405.461 786.972H799.034L914.634 995.337H1102.94Z" fill="#FAFBFC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M410.988 255.56L0 995.337H189.802L505.141 427.427L410.988 255.56ZM1102.94 995.337L647.119 170.373L551.471 0L457.317 170.373L551.471 340.746L711.79 629.718H498.683L405.461 786.972H799.034L914.634 995.337H1102.94Z" fill="#FAFBFC"/>
            </svg>
          </h2>
        </div>
  
        <div class="col-md-3 p-3">
          <h4 class="mb-3 d-flex justify-content-center">Contactanos</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              A20 Green Hill Road,
              Fayetteville, California.
            </li>
            <li class="list-group-item">
              +1 209-223-2635
            </li>
            <li class="list-group-item">
              info@hurzanorze.com
            </li>
          </ul>
        </div>
        
        <div class="col-md-3 p-3">
          <h4 class="mb-3 d-flex justify-content-center">Contactanos</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              A20 Green Hill Road,
              Fayetteville, California.
            </li>
            <li class="list-group-item">
              +1 209-223-2635
            </li>
            <li class="list-group-item">
              info@hurzanorze.com
            </li>
          </ul>
        </div>
        
        <div class="col-md-3 p-3">
          <h4 class="mb-3 d-flex justify-content-center">Contactanos</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              A20 Green Hill Road,
              Fayetteville, California.
            </li>
            <li class="list-group-item">
              +1 209-223-2635
            </li>
            <li class="list-group-item">
              info@hurzanorze.com
            </li>
          </ul>
        </div>
        
      </div>
  
      <div class="row ">
        <div class='social-links col-md-6'>
          <ul>
              <li class="me-4">
                  <a href="#" title="Instagram">
                      <img src="assets/instagram.svg" alt='Instagram'>                       
                  </a>
              </li>
              <li class="me-4">
                  <a href="#" title="Twitter">
                      <img src="assets/twitter.svg" alt='Twitter'>
                  </a>
              </li>
              <li>
                  <a href="#" title="Youtube">
                      <img src="assets/youtube.svg" alt='YouTube'>
                  </a>
              </li>
          </ul>
      </div>
  
      <div class="col-md-6 d-flex justify-content-end">
        <small>© Braulio GM. <span id="year">2024</span>, All rights reserved</small>
      </div>
      </div>
  
    </footer>
  </div>
  