<div class="container my-4">
    <!--barra lateral-->
    <div class="col-md-3 pe-4">
        <!--Categoria-->
        <div class="row">
            <div class="col-md-12">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          Categorias
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                                        <label class="form-check-label" for="firstRadio">
                                          Todos
                                        </label>
                                    </div>
                                    <span class="badge text-bg-primary rounded-pill">1</span>
                                  </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="secondRadio">
                                        <label class="form-check-label" for="secondRadio">
                                          Todos
                                        </label>
                                    </div>
                                    <span class="badge text-bg-primary rounded-pill">1</span>
                                  </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="3Radio">
                                        <label class="form-check-label" for="3Radio">
                                          Todos
                                        </label>
                                    </div>
                                    <span class="badge text-bg-primary rounded-pill">1</span>
                                  </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="4Radio">
                                        <label class="form-check-label" for="4Radio">
                                          Todos
                                        </label>
                                    </div>
                                    <span class="badge text-bg-primary rounded-pill">1</span>
                                  </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="5Radio">
                                        <label class="form-check-label" for="5Radio">
                                          Todos
                                        </label>
                                    </div>
                                    <span class="badge text-bg-primary rounded-pill">1</span>
                                  </li>
                                
                              </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <!--contenido principal-->
    <div class="col-md-9">
        <!--Barra para organizar-->
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>

        <!--productos-->
        <div class="row">
            <div class="col-md-12">
    
            </div>
        </div>

        <!--Paginacion-->
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>