<div class="container my-4">
  <div class="row">
    <!--barra lateral-->
    <div class="col-md-3 pe-4">
      <!--Categoria-->
      <div class="row">
          <div class="col-md-12">
              <div class="accordion mb-4" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Categorias
                      </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                      <div class="accordion-body">
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                                  <label class="form-check-label" for="firstRadio">
                                    Todos
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="secondRadio">
                                  <label class="form-check-label" for="secondRadio">
                                    Burguers
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="3Radio">
                                  <label class="form-check-label" for="3Radio">
                                    Entrantes
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div class="d-flex align-items-center">
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="4Radio">
                                  <label class="form-check-label" for="4Radio">
                                    Combinados Especiales
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="5Radio">
                                  <label class="form-check-label" for="5Radio">
                                    Ensaladas
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="6Radio">
                                  <label class="form-check-label" for="6Radio">
                                    Sandwiches
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="7Radio">
                                  <label class="form-check-label" for="7Radio">
                                    Bocadillos
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="8Radio">
                                  <label class="form-check-label" for="8Radio">
                                    Perritos
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center gap-3">
                              <div>
                                  <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="9Radio">
                                  <label class="form-check-label" for="9Radio">
                                    Postres
                                  </label>
                              </div>
                              <span class="badge text-bg-primary rounded-pill">1</span>
                            </li>
                              
                          </ul>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>  
    </div>

    <!--contenido principal-->
    <div class="col-md-9 pe-4">
        <!--Barra para organizar-->
        <div class="row">
            <div class="col-md-12 sort-by p-1 pe-0">
              <div class="row col-md-12 p-1 d-flex justify-content-end">
                <p class="m-2 me-0 col-md-2 d-flex justify-content-end">Ordenar por:</p>
                <select class="col-md-3" name="" id="">
                  <option value="">Default</option>
                  <option value="">Nombre (A - Z)</option>
                  <option value="">Nombre (Z - A)</option>
                  <option value="">Precio (Menor - Mayor)</option>
                  <option value="">Precio (Mayor - Menor)</option>
                </select>
              </div>
            </div>
        </div>

        <!--productos-->
        <div class="row my-4">
            <div class="col-md-12 p-0">
              <div class="row">
                <!--Producto-->
                <div class="col-sm-6 col-md-4 mb-4 destacados">
                  <div class="card">
                    <a class="enlace" routerLink="/producto-detalles">
                      <img src="../../assets/burger.png" class="d-block w-100" alt="...">
                      <div class="px-2">
                        <div class="m-1">
                          <h5>Burguer premium</h5>
                        </div>
                      </div>
                    </a>
                    <div class="px-2">
                      <div class="m-1">
                        <h4>$15.00</h4>
                      </div>
                    </div>
                    <div class="row m-3 mt-0 d-flex justify-content-end">
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
                    </div>
                  </div>
                  
                </div>
                <!--Producto-->
                <div class="col-sm-6 col-md-4 mb-4 destacados">
                  <div class="card">
                    <img src="../../assets/burger.png" class="d-block w-100" alt="...">
                    <div class="px-2">
                      <div class="m-1">
                        <h5>Burguer premium</h5>
                      </div>
                      <div class="m-1">
                        <h4>$15.00</h4>
                      </div>
                    </div>
                    <div class="row m-3 mt-0 d-flex justify-content-end">
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
                    </div>
                  </div>
                  
                </div>
                <!--Producto-->
                <div class="col-sm-6 col-md-4 mb-4 destacados">
                  <div class="card">
                    <img src="../../assets/burger.png" class="d-block w-100" alt="...">
                    <div class="px-2">
                      <div class="m-1">
                        <h5>Burguer premium</h5>
                      </div>
                      <div class="m-1">
                        <h4>$15.00</h4>
                      </div>
                    </div>
                    <div class="row m-3 mt-0 d-flex justify-content-end">
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
                    </div>
                  </div>
                  
                </div>
                <!--Producto-->
                <div class="col-sm-6 col-md-4 mb-4 destacados">
                  <div class="card">
                    <img src="../../assets/burger.png" class="d-block w-100" alt="...">
                    <div class="px-2">
                      <div class="m-1">
                        <h5>Burguer premium</h5>
                      </div>
                      <div class="m-1">
                        <h4>$15.00</h4>
                      </div>
                    </div>
                    <div class="row m-3 mt-0 d-flex justify-content-end">
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
                    </div>
                  </div>
                  
                </div>
                <!--Producto-->
                <div class="col-sm-6 col-md-4 mb-4 destacados">
                  <div class="card">
                    <img src="../../assets/burger.png" class="d-block w-100" alt="...">
                    <div class="px-2">
                      <div class="m-1">
                        <h5>Burguer premium</h5>
                      </div>
                      <div class="m-1">
                        <h4>$15.00</h4>
                      </div>
                    </div>
                    <div class="row m-3 mt-0 d-flex justify-content-end">
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
                      <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
                    </div>
                  </div>
                  
                </div>
                
              </div>
              
            </div>
        </div>

        <!--Paginacion-->
        <div class="row">
            <div class="col-md-12 ">
              <nav aria-label="">
                <ul class="pagination justify-content-end">
                  <li class="page-item">
                    <a class="page-link" href="" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="">1</a></li>
                  <li class="page-item"><a class="page-link" href="">2</a></li>
                  <li class="page-item"><a class="page-link" href="">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
        </div>
    </div>
  </div>
</div>