.uncheck-progreso{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 3px solid white;
}

.check-progreso{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: white;
}

.alineado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inline{
    width: auto;
}

.fijado{
    position: fixed;
}

.tamanio-boton{
    height: fit-content;
    width: fit-content;
}

.parrafo{
    white-space-collapse: break-spaces;
    text-wrap: wrap;
}

.total{
    margin-right: -12px;
}