.uncheck-progreso{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 3px solid white;
}

.check-progreso{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background-color: white;
}

.alineado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inline{
    width: auto;
}

.tamanio-boton{
    height: fit-content;
    width: fit-content;
}

img {
    max-width: 211px; /* Ancho fijo */
    max-height: 211px; /* Alto fijo */
    object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
}

.resumen{
    max-width: 112px; /* Ancho fijo */
    max-height: 112px; /* Alto fijo */
    object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
}

.enlace{
    text-decoration: none;
}

.enlace2{
    text-decoration: none;
    color: #dee2e6;
}

.parrafo{
    white-space-collapse: break-spaces;
    text-wrap: wrap;
}

.total{
    margin-right: -12px;
}