/*Barra lateral*/
.accordion-button{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    width: 100%;
    display: flex;
}

.accordion-button.collapsed.col-12::after {
    content: none !important;
}

button.accordion-button.col-12::after{
    content: none !important;
}

.list-group-item{
    border: none;
    color: white;
}

