<div class="container my-4">
    <div class="row">
        <!--imagen del producto-->
        <div class="col-md-4">
            <img src="../../assets/burger.png" class="d-block w-100" alt="...">
        </div>

        <!--Detalles de producto-->
        <div class="col-md-8 ps-4">
            <div>
                <h4>Nombre del producto</h4>
                <hr class="mt-3 mb-1">
            </div>
            <div class="mt-4 caracteristicas">
                <div class="d-flex gap-4">
                    <h5 class="">Categoria:</h5>
                    <p>Burguer</p>
                </div>
                <h5>Subcategoria:</h5>
                <p>Premium</p>
                <h5>Alergenos</h5>
                <p>1,2,3,4</p>
                <hr class="mt-3 mb-1">
            </div>
            <div class="mt-4 precio">
                <h5>$12.00</h5>
            </div>
        </div>
    </div>
</div>