<div class="container my-4">
    <div class="row">
        <!--imagen del producto-->
        <div class="col-md-5">
            <a (click)="zoom()">
                <img src="../../assets/burger.png" class="d-block w-100" alt="...">
            </a>
        </div>

        <!--Detalles de producto-->
        <div class="col-md-7 ps-4">
            <div>
                <h4>{{producto.nombre}}</h4>
                <hr class="mt-3 mb-1">
            </div>
            <div class="mt-4 caracteristicas">
                <h5 class="">Categoria:</h5>
                <p>{{producto.categoria}}</p>
                <h5>Subcategoria:</h5>
                <p>{{producto.subcategoria}}</p>
                <h5>Alergenos:</h5>
                <div class="d-flex gap-3">
                    <span class="" *ngFor="let alergeno of producto.listaAlergenos">
                        {{alergeno.nombre}}
                    </span>
                </div>
                <hr class="mt-4 mb-1">
            </div>
            <div class="my-4 precio">
                <h5 class="mb-4">€ {{producto.precio}}</h5>
                <hr class="mt-3 mb-1">
            </div>
            <div class="d-flex align-items-center gap-4">
                <div class="d-flex align-items-center gap-2 al">
                    <p class="mt-3">Cantidad:</p>
                    <select class="cantidad" name="" id="" (change)="cantidadProductos($event)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <button type="button" class="btn btn-secondary m-1 tamanio-boton" (click)="agregarProducto(producto.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><circle cx="10.5" cy="19.5" r="1.5" fill="#ffffff"/><circle cx="17.5" cy="19.5" r="1.5" fill="#ffffff"/><path fill="#ffffff" d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7m-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2z"/></svg>
                </button>
            </div>
        </div>
    </div>

    <!--Descripcion del producto-->
    <div class="row mt-4">
        <div class="col-md-12 descripcion">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="">Descripcion</h5>
                    <hr class="mb-2 px-4">
                </div>
            </div>
            <p class="m-0">
                {{producto.descripcion}}               
            </p>
        </div>
    </div>
</div>