<nav class="navbar nav-underline navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container">

    <!-- logo -->
    <div class="logo col-md-4">
      <a href="#">
        <svg width="1103" height="996" viewBox="0 0 1103 996" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M410.988 255.56L0 995.337H189.802L505.141 427.427L410.988 255.56ZM1102.94 995.337L647.119 170.373L551.471 0L457.317 170.373L551.471 340.746L711.79 629.718H498.683L405.461 786.972H799.034L914.634 995.337H1102.94Z" fill="#FAFBFC"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M410.988 255.56L0 995.337H189.802L505.141 427.427L410.988 255.56ZM1102.94 995.337L647.119 170.373L551.471 0L457.317 170.373L551.471 340.746L711.79 629.718H498.683L405.461 786.972H799.034L914.634 995.337H1102.94Z" fill="#FAFBFC"/>
        </svg>
      </a>
    </div>

    <!-- links -->
    <div class="col-md-4 ">
      <div class="">
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex enlaces justify-content-between gap-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pedido" routerLinkActive="active">Pedido</a>
          </li>
          
        </ul>
      </div>
    </div>

    <!-- car -->
    <div class="col-md-4 d-flex justify-content-end">
      <div class="nav-item dropdown" >
        <a (mouseenter)="toggleMenu()" class="nav-link dropdown-toggle car-button" role="button" aria-expanded="false">
          Car <span class="badge text-bg-secondary rounded-pill" *ngIf="listaDeProductos.length != 0">{{listaDeProductos.length}}</span>
        </a>
        <div class="capa" (click)="toggleMenu()" *ngIf="isMenuOpen"></div>
        <ul class="carrito" *ngIf="isMenuOpen" (mouseleave)="closeMenu()">
          
          <!-- producto -->
          <li class="px-3 py-1" *ngFor="let producto of listaDeProductos">
            <div class="row col-12">
              <div class="col-4">
                <img src="../../assets/burger.png" class="d-block w-100" alt="...">
              </div>
              <div class="col-8 px-0">
                <div class="row mb-3">
                  <div class="col-9">
                    <p class="parrafo">{{producto.nombre}}</p>
                  </div>
                  <div class="col-3 p-0 d-flex justify-content-end">
                    <button type="button" class="btn btn-danger tamanio-boton">Del</button>
                  </div>
                </div>
                <div class="row pe-0">
                  <div class="row col-7 d-flex justify-content-between align-items-start">
                    <div class="col-2 d-flex gap-1">
                      <button type="button" class="btn btn-secondary tamanio-boton">-</button>
                      <button type="button" class="btn btn-light" style="pointer-events: none;">1</button>
                      <button type="button" class="btn btn-secondary tamanio-boton">+</button>
                    </div>
                    
                  </div>
                  <div class="col-5 d-flex p-0 ms-4 justify-content-end align-items-end">
                    <h6 class="p-0">{{producto.precio}}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div><hr class="mt-3 mb-1"></div>
          </li>          
          
          <!--<li><hr class="dropdown-divider"></li> -->
          <li class="px-3 py-1 mb-1">
            <div class="row col-md-12 p-0">
              <div class="col-md-7">
                <h5>Subtotal del carrito :</h5>
              </div>
              <div class="col-md-5 p-0 d-flex justify-content-end">
                <h5 class="total">$24.00</h5>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
