.logo svg {
    stroke-width: 8px;
    width: 3rem;
    height: 3rem;
}

.carrito{
    width: 400px;
    position: absolute;
    margin-top: 19px;
    margin-left: -350px;
}

#menu {
    display: none;
  }
  
  #menu.show {
    display: block;
  }

.tamanio-boton{
    height: fit-content;
    width: fit-content;
}

.parrafo{
    white-space-collapse: break-spaces;
    text-wrap: wrap;
}

.total{
    margin-right: -12px;
}