.logo svg {
    stroke-width: 8px;
    width: 3rem;
    height: 3rem;
}

.enlaces{
    flex-direction: row;
}

.enlace{
    text-decoration: none;
}

.carrito{
    width: 400px;
    max-height: 80vh;
    position: absolute;
    margin-top: 19px;
    margin-left: -350px;
    background-color: rgb(61, 64, 68);
    padding: 8px 0px 0px 0px;
    list-style: none;
    border-radius: 5px;
    z-index: 6;
}

.car-button{
    z-index: 7;
}

.capa{
    z-index: 5;
    background-color: rgba(54, 54, 185, 0);
    position: fixed; /* Fija el div en la ventana del navegador */
    top: 0;          /* Posiciona el div en la parte superior */
    left: 0;         /* Posiciona el div en la parte izquierda */
    width: 100vw;    /* Ancho completo de la ventana */
    height: 100vh;   /* Altura completa de la ventana */
}

#menu {
    display: none;
  }
  
  #menu.show {
    display: block;
  }

.tamanio-boton{
    height: fit-content;
    width: fit-content;
}

.parrafo{
    white-space-collapse: break-spaces;
    text-wrap: wrap;
}

.total{
    margin-right: -12px;
}