.altura{
    max-height: 500px;
    height: 400px;
}

.marginBot{
    margin-bottom: 70px;
}

.carousel-item img {
    max-height: 45vw; /* Define la altura máxima que desees */
    max-width: fit-content; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Para mantener la relación de aspecto original */
    margin: auto;
}

.bg-hero{
    background-image: url(../../assets/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    position: relative;
}

.separator h1::after {
    background-image: url(../../assets/separator.png);
    width: 172px;
    height: 38px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.separator h1 {
    position: relative;
    color: #fff;
    padding: 0 0 40px 0;
    margin: 0 0 30px 0;
    text-align: center;
}

.destacados:hover img{
    transform: scale(1.05);
    transition: all 400ms ease-in-out;
}

.tamanio-boton{
    height: fit-content;
    width: fit-content;
  }

  .bg-oferta{
    background-image: url(../../assets/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
}

.bg-oferta img{
    max-width: 100%;
    height: auto;
}

.bg-oferta h1{
    font-size: 400%;
}

.comentarios{
    width: 85%;
    margin: auto;
}

.video img{
    max-width: fit-content;
    max-height: 450px; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Para mantener la relación de aspecto original */
    margin: auto;
    background-color: aqua;
}

/*footer*/

:root {
    --footer-background: #121a29;
    --text-color: #FAFBFC;
    --text-gray: #FEFEFE;
    --text-heading-gray: #F4F5F6;
    --text-primary: #FAFBFC;
    --button-color: #404652;
    --button-border: #6B707C;
}

html {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

/*? footer containers */
footer {
    bottom: 0;
    background: var(--footer-background);
    min-width: 18rem;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    background: var(--footer-background);
    flex-direction: column;
    max-width: 80rem;
    padding: 1rem;
}

/*? top section */
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    padding: 1rem 0px;
    justify-content: space-between;
}

.footer-line {
    display: block;
    width: 100%;
    height: 0.5rem;
}

/*? footer columns */
.footer-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    flex: 2 0 14rem;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    margin: 0 auto;
}

.footer-columns ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-columns ul a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-columns ul a:hover {
    text-decoration: underline;
}

.footer-columns ul li {
    margin-bottom: 1rem;
}

.footer-columns h3 {
    color: var(--text-primary);
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.footer-centering {
    margin: 0 auto;
}

.footer-columns > section {
    min-width: 10rem;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    color: var(--text-color);
    margin-bottom: 4rem;
}

.footer-logo svg {
    stroke: var(--text-color);
    stroke-width: 8px;
    width: 3rem;
    height: 3rem;
}


/*? Footer bottom */
.footer-bottom {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--text-gray);
}

.footer-bottom > small {
    margin: 0 0.25rem;
}

.footer-headline > h2 {
    margin: 0;
    color: var(--text-primary);
}

.footer-headline > p {
    color: var(--text-gray);
    margin: 0.25rem 0 1.25rem 0;
}

.footer-line {
    display: block;
    min-width: 2.5rem;
    height: 0.125rem;
    background: var(--text-gray);
}

/*? socials */
.social-links {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.social-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-links img {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}

.social-links ul {
    display: flex;
    gap: 0.75rem;
    list-style-type: none;
}

/*? mobile */

@media (max-width: 800px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem 0.5rem 2rem 0.5rem;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: space-between;
        justify-content: center;
        margin: 0 auto;
    }
}



