<!--carrucel-->
<div class="marginBot">
    <div id="carouselExampleAutoplaying" class="carousel slide bg-hero" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/burger.png" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/burger.png" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/burger.png" class="d-block" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<!--Tarjetas-->

<div class="container marginBot">
  <div class="row gap-4 d-flex justify-content-around">
    <div class="card col-md-3 mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text b</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-md-3 mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text b</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card col-md-3 mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text b</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!--Categories Features-->

<div class="container marginBot">
  <div class="d-flex justify-content-center separator">
    <h1 class="d-block">Categories Features</h1>
  </div>

  <div class="row d-flex justify-content-center gap-3">
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Burguers</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Entrantes</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Combinados especiales</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Ensaladas</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Sandwiches</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Bocadillos</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Perritos</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Postres</p>
        </div>
      </div>
    </div>    
  </div>  
</div>

<!--Destacados-->

<div class="container marginBot">
  <div class="row">
    <div class="col-md-6 col-sm-12 row px-4 align-items-center destacados">
      <div class="col-md-4 col-sm-6">
        <h3>Hot Burguer Premium</h3>
        <p>Nueva busguer, ya disponible fdsafdsa fdsafdsaf fdsafasd</p>
        <h4>$12.00</h4>
      </div>

      <div class="col-md-8 col-sm-6">
        <img src="../../assets/burger.png" class="d-block w-100" alt="...">
      </div>
    </div>

    <div class="col-md-6 col-sm-12 row px-4 align-items-center destacados">
      <div class="col-md-4 col-sm-6">
        <h3>Hot Burguer Premium</h3>
        <p>Nueva busguer, ya disponible fdsafdsa fdsafdsaf fdsafasd</p>
        <h4>$12.00</h4>
      </div>

      <div class="col-md-8 col-sm-6 d-flex justify-content-end">
        <img src="../../assets/burger.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

<!--Top productos-->

<div class="container marginBot">
  <div class="d-flex justify-content-center separator">
    <h1 class="d-block">Top productos</h1>
  </div>

  <div class="row ">

    <div class="col-sm-6 col-md-3">
      <div class="card  ">
        <img src="../../assets/burger.png" class="d-block w-100" alt="...">
        <div class="row m-3 d-flex justify-content-end">
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
        </div>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h5>Burguer premium</h5>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h4>$15.00</h4>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card  ">
        <img src="../../assets/burger.png" class="d-block w-100" alt="...">
        <div class="row m-3 d-flex justify-content-end">
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
        </div>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h5>Burguer premium</h5>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h4>$15.00</h4>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card  ">
        <img src="../../assets/burger.png" class="d-block w-100" alt="...">
        <div class="row m-3 d-flex justify-content-end">
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
        </div>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h5>Burguer premium</h5>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h4>$15.00</h4>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card  ">
        <img src="../../assets/burger.png" class="d-block w-100" alt="...">
        <div class="row m-3 d-flex justify-content-end">
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Fav</button>
          <button type="button" class="btn btn-primary m-1 tamanio-boton">Car</button>
        </div>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h5>Burguer premium</h5>
      </div>
      <div class="m-2 d-flex justify-content-center">
        <h4>$15.00</h4>
      </div>
    </div>
    
  </div>
</div>

<!--Ofertas-->

<div class="bg-oferta">
  <div class="container marginBot ">
    <div class="row">
      <div class="col-md-7 p-4">
        <img src="../../assets/burguer-oferta.png" alt="">
      </div>
      <div class="col-md-5 d-flex gap-3 justify-content-center flex-column p-4">
        <h2>Grilled Chiken</h2>
        <h1>BURGER</h1>
        <h2>Limited Offer</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <button class="btn btn-warning tamanio-boton">
          Read More
        </button>
      </div>
    </div>
  </div>
</div>

<!--Testimonios-->

<div class="container marginBot">
  <div class="d-flex justify-content-center separator">
    <h1 class="d-block">Testimonios</h1>
  </div>
  <div class="row testimonios d-flex align-items-center ">
    <!--comnetarios-->
    <div class="col-md-6 p-4">

      <div class="card comentarios col-md-12 mb-4">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Nombre</h5>
              <p class="card-text">Exelentes hamburguesas, las recominedo</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card comentarios col-md-12 mb-4">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Nombre</h5>
              <p class="card-text">Exelentes hamburguesas, las recominedo</p>
            </div>
          </div>
        </div>
      </div>
            
      <div class="card comentarios col-md-12 ">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Nombre</h5>
              <p class="card-text">Exelentes hamburguesas, las recominedo</p>
            </div>
          </div>
        </div>
      </div>

      
    </div>

    <!--Video-->
    <div class="col-md-6 p-4">
      <div class="video d-flex justify-content-center">
        <video width="320" height="440" controls>
          <source src="" type="video/mp4">
          Tu navegador no soporta el elemento de video.
      </video>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<div class="">
  <footer>
    <div class="footer-line"></div>
    <div class="footer-wrapper">
        <div class="footer-columns">
            <section class="footer-logo">
                <h2>
                    <svg width="1103" height="996" viewBox="0 0 1103 996" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M410.988 255.56L0 995.337H189.802L505.141 427.427L410.988 255.56ZM1102.94 995.337L647.119 170.373L551.471 0L457.317 170.373L551.471 340.746L711.79 629.718H498.683L405.461 786.972H799.034L914.634 995.337H1102.94Z" fill="#FAFBFC"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M410.988 255.56L0 995.337H189.802L505.141 427.427L410.988 255.56ZM1102.94 995.337L647.119 170.373L551.471 0L457.317 170.373L551.471 340.746L711.79 629.718H498.683L405.461 786.972H799.034L914.634 995.337H1102.94Z" fill="#FAFBFC"/>
                    </svg>
                </h2>
            </section>
            <section>
                <h3>Product</h3>
                <ul>
                    <li>
                        <a href="#" title="API">API</a>
                    </li>
                    <li>
                        <a href="#" title="Pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="#" title="Documentation">Documentation</a>
                    </li>
                    <li>
                        <a href="#" title="Release Notes">Release Notes</a>
                    </li>
                    <li>
                        <a href="#" title="Status">Status</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>Resources</h3>
                <ul>
                    <li>
                        <a href="#" title="Support">Support</a>
                    </li>
                    <li>
                        <a href="#" title="Sitemap">Sitemap</a>
                    </li>
                    <li>
                        <a href="#" title="Newsletter">Newsletter</a>
                    </li>
                    <li>
                        <a href="#" title="Help Centre">Help Centre</a>
                    </li>
                    <li>
                        <a href="#" title="Investor">Investor</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>Company</h3>
                <ul>
                    <li>
                        <a href="#" title="About Us">About Us</a>
                    </li>
                    <li>
                        <a href="#" title="Blog">Blog</a>
                    </li>
                    <li>
                        <a href="#" title="Careers">Careers</a>
                    </li>
                    <li>
                        <a href="#" title="Press">Press</a>
                    </li>
                    <li>
                        <a href="#" title="Contact">Contact</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>Legal</h3>
                <ul>
                    <li>
                        <a href="#" title="Terms and services">
                            Terms
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Privacy Policy">
                            Privacy
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Cookies">
                            Cookies
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Licenses">
                            Licenses
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Cookies">
                            Contact
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <div class='social-links'>
                <ul>
                    <li>
                        <a href="#" title="Instagram">
                            <img src="assets/instagram.svg" alt='Instagram'>                       
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter">
                            <img src="assets/twitter.svg" alt='Twitter'>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Youtube">
                            <img src="assets/youtube.svg" alt='YouTube'>
                        </a>
                    </li>
                </ul>
            </div>

            <small>© Atheros Intelligence Ltd. <span id="year"></span>, All rights reserved</small>
        </div>
    </div>
</footer>
</div>